Repository KonaeAkira/raphael-rs, pull requests merged in 2025-05, with the labels that each got.

#146 Move `backload_progress` logic into simulator
  raphael-bindings/src/lib.rs
  raphael-cli/src/commands/solve.rs
  raphael-data/src/lib.rs
  raphael-data/tests/test_get_game_settings.rs
  raphael-sim/benches/bench_simulator.rs
  raphael-sim/src/effects.rs
  raphael-sim/src/settings.rs
  raphael-sim/src/state.rs
  raphael-sim/tests/action_tests.rs
  raphael-sim/tests/adversarial_tests.rs
  raphael-sim/tests/backload_progress_tests.rs
  raphael-sim/tests/effect_tests.rs
  raphael-sim/tests/simulator_tests.rs
  raphael-solver/examples/macro_solver_example.rs
  raphael-solver/src/actions.rs
  raphael-solver/src/finish_solver.rs
  raphael-solver/src/lib.rs
  raphael-solver/src/macro_solver/solver.rs
  raphael-solver/src/quality_upper_bound_solver/solver.rs
  raphael-solver/src/quality_upper_bound_solver/state.rs
  raphael-solver/src/quality_upper_bound_solver/tests.rs
  raphael-solver/src/step_lower_bound_solver/solver.rs
  raphael-solver/src/step_lower_bound_solver/state.rs
  raphael-solver/src/step_lower_bound_solver/tests.rs
  raphael-solver/tests/00_edge_cases.rs
  raphael-solver/tests/01_progress_backload_exhaustive.rs
  raphael-solver/tests/02_exhaustive.rs
  raphael-solver/tests/03_adversarial_exhaustive.rs
  src/app.rs
  src/widgets/recipe_select.rs
Labels: A-simulator, A-solver

#148 Snapshot tests for search queue node statistics
  .cargo/config_wasm.toml
  .github/workflows/rust.yml
  raphael-solver/src/macro_solver/search_queue.rs
  raphael-solver/src/macro_solver/solver.rs
  raphael-solver/tests/00_edge_cases.rs
  raphael-solver/tests/01_progress_backload_exhaustive.rs
  raphael-solver/tests/02_exhaustive.rs
  raphael-solver/tests/03_adversarial_exhaustive.rs
Labels: A-solver

#147 Switch renderer to `wgpu` for native
  Cargo.toml
  src/main.rs
Labels: A-gui

#150 Optimize low quality recipes
  raphael-sim/src/state.rs
  raphael-solver/src/actions.rs
  raphael-solver/src/macro_solver/solver.rs
  raphael-solver/src/quality_upper_bound_solver/solver.rs
  raphael-solver/tests/00_edge_cases.rs
  raphael-solver/tests/01_progress_backload_exhaustive.rs
  raphael-solver/tests/02_exhaustive.rs
  raphael-solver/tests/03_adversarial_exhaustive.rs
Labels: performance, A-solver

#155 Merge `QualityParetoFront` and `EffectParetoFront`
  .cargo/config.toml
  Cargo.toml
  raphael-solver/src/macro_solver/pareto_front.rs
  raphael-solver/src/macro_solver/pareto_front/effect_pareto_front.rs
  raphael-solver/src/macro_solver/pareto_front/mod.rs
  raphael-solver/src/macro_solver/pareto_front/quality_pareto_front.rs
  raphael-solver/src/macro_solver/search_queue.rs
  raphael-solver/tests/00_edge_cases.rs
  raphael-solver/tests/01_progress_backload_exhaustive.rs
  raphael-solver/tests/02_exhaustive.rs
  raphael-solver/tests/03_adversarial_exhaustive.rs
Labels: A-solver

#156 Branchless effects ticking
  .cargo/config.toml
  raphael-sim/src/actions.rs
  raphael-sim/src/effects.rs
Labels: performance, A-simulator

#157 Enable `QualityUbSolver` parallel precompute for specialist actions
  raphael-solver/src/macro_solver/solver.rs
  raphael-solver/src/quality_upper_bound_solver/solver.rs
  raphael-solver/src/quality_upper_bound_solver/tests.rs
  raphael-solver/tests/00_edge_cases.rs
  raphael-solver/tests/01_progress_backload_exhaustive.rs
  raphael-solver/tests/02_exhaustive.rs
  raphael-solver/tests/03_adversarial_exhaustive.rs
Labels: performance, A-solver

#158 Add step count to action icons
  src/widgets/simulator.rs
Labels: feature, A-gui

#162 Show alert when failing to start eframe on web target
  src/main.rs
Labels: A-gui

#165 Add argument to specify if the recipe is expert to `--custom-recipe` in CLI
  raphael-cli/Cargo.toml
  raphael-cli/src/commands/solve.rs
Labels: feature, A-cli

#170 Fix performance issue caused by having too many threads
  src/app.rs
  src/thread_pool.rs
Labels: performance

#167 Parallel precompute for `StepLbSolver`
  .cargo/config.toml
  Cargo.toml
  raphael-solver/examples/macro_solver_example.rs
  raphael-solver/src/macro_solver/solver.rs
  raphael-solver/src/quality_upper_bound_solver/solver.rs
  raphael-solver/src/step_lower_bound_solver/solver.rs
  raphael-solver/src/step_lower_bound_solver/state.rs
  raphael-solver/tests/00_edge_cases.rs
  raphael-solver/tests/01_progress_backload_exhaustive.rs
  raphael-solver/tests/02_exhaustive.rs
  raphael-solver/tests/03_adversarial_exhaustive.rs
Labels: performance, A-solver

#174 Fix unsound `TrainedPerfection` optimization in `StepLbSolver`
  raphael-sim/Cargo.toml
  raphael-sim/benches/bench_simulator.rs
  raphael-sim/tests/adversarial_tests.rs
  raphael-solver/Cargo.toml
  raphael-solver/src/quality_upper_bound_solver/tests.rs
  raphael-solver/src/step_lower_bound_solver/solver.rs
  raphael-solver/src/step_lower_bound_solver/state.rs
  raphael-solver/src/step_lower_bound_solver/tests.rs
  raphael-solver/src/utils/pareto_front_builder.rs
  raphael-solver/tests/00_edge_cases.rs
  raphael-solver/tests/01_progress_backload_exhaustive.rs
  raphael-solver/tests/02_exhaustive.rs
  raphael-solver/tests/03_adversarial_exhaustive.rs
Labels: A-solver, bug

#176 Fix empty macro text for single-action macros when `avoid_single_action_macro` option is enabled
  src/widgets/macro_view.rs
Labels: A-gui, bug

#178 Fix inconsistent `QualityUbSolver` for configurations with low `max_durability`
  raphael-solver/src/lib.rs
  raphael-solver/src/quality_upper_bound_solver/solver.rs
  raphael-solver/src/quality_upper_bound_solver/state.rs
  raphael-solver/src/quality_upper_bound_solver/tests.rs
  raphael-solver/src/step_lower_bound_solver/tests.rs
  raphael-solver/src/test_utils.rs
  raphael-solver/tests/00_edge_cases.rs
  raphael-solver/tests/01_progress_backload_exhaustive.rs
  raphael-solver/tests/02_exhaustive.rs
  raphael-solver/tests/03_adversarial_exhaustive.rs
Labels: A-solver, bug

#180 Reduce number of sequential states for `QualityUbSolver`
  raphael-sim/src/effects.rs
  raphael-solver/src/quality_upper_bound_solver/solver.rs
  raphael-solver/src/quality_upper_bound_solver/state.rs
  raphael-solver/tests/00_edge_cases.rs
  raphael-solver/tests/01_progress_backload_exhaustive.rs
  raphael-solver/tests/02_exhaustive.rs
  raphael-solver/tests/03_adversarial_exhaustive.rs
Labels: performance, A-solver

#182 Remove `fast_lower_bound` & Reduce `QualityUbSolver` state count
  raphael-solver/src/actions.rs
  raphael-solver/src/macro_solver/fast_lower_bound.rs
  raphael-solver/src/macro_solver/mod.rs
  raphael-solver/src/macro_solver/pareto_front.rs
  raphael-solver/src/macro_solver/search_queue.rs
  raphael-solver/src/macro_solver/solver.rs
  raphael-solver/src/quality_upper_bound_solver/solver.rs
  raphael-solver/src/quality_upper_bound_solver/state.rs
  raphael-solver/src/step_lower_bound_solver/solver.rs
  raphael-solver/tests/00_edge_cases.rs
  raphael-solver/tests/01_progress_backload_exhaustive.rs
  raphael-solver/tests/02_exhaustive.rs
  raphael-solver/tests/03_adversarial_exhaustive.rs
Labels: performance, A-solver

#179 Add options to load rotation when initiating solve and load recipe & consumables from saved rotations
  raphael-data/src/lib.rs
  src/app.rs
  src/config.rs
  src/lib.rs
  src/util.rs
  src/widgets/mod.rs
  src/widgets/saved_rotations.rs
Labels: feature, A-gui

#184 Reduce redundant `QualityUbSolver` states & Avoid `MuscleMemory` effect in inner solvers
  raphael-solver/src/quality_upper_bound_solver/solver.rs
  raphael-solver/src/step_lower_bound_solver/solver.rs
  raphael-solver/src/step_lower_bound_solver/state.rs
  raphael-solver/src/test_utils.rs
  raphael-solver/src/utils/mod.rs
  raphael-solver/tests/00_edge_cases.rs
  raphael-solver/tests/01_progress_backload_exhaustive.rs
  raphael-solver/tests/02_exhaustive.rs
  raphael-solver/tests/03_adversarial_exhaustive.rs
Labels: performance, A-solver

#191 Enable `StepLbSolver` precompute for states with `HeartAndSoul` and `QuickSynthesis`
  Cargo.toml
  raphael-sim/src/settings.rs
  raphael-solver/examples/macro_solver_example.rs
  raphael-solver/src/actions.rs
  raphael-solver/src/macro_solver/solver.rs
  raphael-solver/src/quality_upper_bound_solver/tests.rs
  raphael-solver/src/step_lower_bound_solver/solver.rs
  raphael-solver/tests/00_edge_cases.rs
  raphael-solver/tests/01_progress_backload_exhaustive.rs
  raphael-solver/tests/02_exhaustive.rs
  raphael-solver/tests/03_adversarial_exhaustive.rs
Labels: performance, A-solver
