Repository KonaeAkira/raphael-rs, pull requests merged in 2025-09, with the labels that each got.

#211 Fix unintentional macro scroll on small displays
  src/app.rs
  src/widgets/multiline_monospace.rs
Labels: A-gui, bug

#213 Skip unnecessary field transformations in `raphael-data-updater`
  raphael-data-updater/src/consumable.rs
  raphael-data-updater/src/item.rs
  raphael-data-updater/src/level_adjust_table.rs
  raphael-data-updater/src/recipe.rs
  raphael-data-updater/src/stellar_mission.rs
Labels: A-data

#219 Move persistent state into new `AppContext` struct
  src/app.rs
  src/context.rs
  src/lib.rs
  src/util.rs
  src/widgets/food_select.rs
  src/widgets/macro_view.rs
  src/widgets/potion_select.rs
  src/widgets/recipe_select.rs
  src/widgets/saved_rotations.rs
  src/widgets/simulator.rs
  src/widgets/stats_edit.rs
Labels: A-gui

#221 Self-partitioning Pareto front & Use SIMD for dominance check
  raphael-solver/Cargo.toml
  raphael-solver/src/macro_solver/pareto_front.rs
  raphael-solver/src/macro_solver/search_queue.rs
  raphael-solver/tests/00_edge_cases.rs
  raphael-solver/tests/01_progress_backload_exhaustive.rs
  raphael-solver/tests/02_exhaustive.rs
  raphael-solver/tests/03_adversarial_exhaustive.rs
Labels: performance, A-solver

#223 Add korean support to the cli search command
  raphael-cli/src/commands/search.rs
Labels: enhancement, A-cli

#222 Add cli command to get the ingredients of a recipe
  raphael-cli/src/commands/ingredients.rs
  raphael-cli/src/commands/mod.rs
  raphael-cli/src/main.rs
Labels: enhancement, A-cli

#228 Add stellar mission search sub-command to CLI
  raphael-cli/Cargo.toml
  raphael-cli/src/commands/ingredients.rs
  raphael-cli/src/commands/mod.rs
  raphael-cli/src/commands/search_mission.rs
  raphael-cli/src/commands/search_recipe.rs
  raphael-cli/src/commands/solve.rs
  raphael-cli/src/main.rs
Labels: enhancement, A-cli

#229 Improve fuzzy string matching
  raphael-data/Cargo.toml
  raphael-data/src/search.rs
Labels: enhancement, A-data

#234 Restore early stop behavior
  raphael-solver/src/quality_upper_bound_solver/solver.rs
  raphael-solver/src/step_lower_bound_solver/solver.rs
  raphael-solver/src/utils/pareto_front_builder.rs
  raphael-solver/tests/00_edge_cases.rs
  raphael-solver/tests/01_progress_backload_exhaustive.rs
  raphael-solver/tests/02_exhaustive.rs
  raphael-solver/tests/03_adversarial_exhaustive.rs
Labels: performance, A-solver

#236 Fix elapsed time sometimes not showing after solve
  src/app.rs
Labels: A-gui, bug
